.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2%;
  column-gap: 15%;
  margin-top: 15%;
  &-single {
    a {
      text-decoration: none;
    }
    img {
      max-width: 100%;
      max-height: 300px;
      object-fit: cover;
      transition: all ease 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
    h2 {
      color: #fff;
      font-size: em(20);
      line-height: em(20);
      margin-bottom: 3%;
      margin-top: 5%;
      transition: all ease 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
    &-tags a {
      color: $magenta;
      text-decoration: none;
      transition: all ease 0.5s;
      &:hover {
        color: $amarelo;
        opacity: 0.5;
      }
    }
    p {
      margin-top: 5%;
      font-size: em(14);
    }
    &:nth-child(even) {
      padding-top: 10%;
    }
  }
  &-title {
    margin-top: 10%;
  }
}
