.article {
  &-show {
    position: relative;
    top: 2em;
    opacity: 0;
    transition: all ease-out 1s;
  }
}

article {
  margin-top: 5%;
  .article {
    &-title {
      font-size: em(60);
      line-height: em(20);
      margin-bottom: 2%;
    }
    &-subtitle {
      color: #f5f5f5;
      margin: 2% 0;
    }
    &-tags {
      color: $magenta;
      margin: 50px 0;
      a {
        color: $magenta;
        text-decoration: none;
        transition: all ease 0.5s;
        &:hover {
          color: $amarelo;
          opacity: 0.5;
        }
      }
    }
    &-content {
      margin-top: 2%;
      line-height: em(25);
      text-align: justify;
      color: #f5f5f5;
      h2,
      h3,
      h4 {
        color: $magenta;
        margin: 2% 0;
      }
      figure {
        text-align: center;
        margin: 5% 0;
      }
      figcaption {
        font-style: italic;
        font-size: em(14);
        margin-top: 2%;
      }
      img {
        max-width: 100%;
        height: auto;
        transition: all ease 0.5s;
        box-shadow: 0px 3px 70px rgba(66, 66, 66, 0.75);
        &:hover {
          opacity: 0.7;
        }
      }
      p,
      ul {
        margin-bottom: 2%;
        list-style: none;
      }
      li {
        &:before {
          content: "- ";
        }
      }
      a {
        color: $amarelo;
        text-decoration: none;
        transition: all ease 0.5s;
        &:hover {
          color: $magenta;
          opacity: 0.5;
        }
      }
    }
  }
}

hr {
  border-color: $cinza;
  width: 90%;
  margin: 10% auto;
}

.author-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto 10rem;

  @media (max-width: 768px) {
    max-width: 100%;
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: 540px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .author {
    display: flex;

    .social {
      margin-top: 1rem;

      a + a {
        margin-left: 1rem;
      }
    }

    > img {
      max-width: 112px;
      height: 100%;
      margin-right: 2rem;
      border-radius: 50%;
      border: 3px solid $amarelo;
      object-fit: cover;
      object-position: center;

      @media (max-width: 414px) {
        max-width: 72px;
      }
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 0.8rem;

      @media (max-width: 414px) {
        font-size: 1rem;
      }
    }

    p {
      color: $cinza;
      font-size: 0.85rem;
      line-height: 1.5;

      @media (max-width: 414px) {
        font-size: 0.65rem;
      }
    }

    @media (max-width: 540px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      > img {
        margin: 0 0 2rem;
      }

      p {
        max-width: 70%;
        margin: 0 auto;
      }
    }
  }

  .share {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: 540px) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    p {
      color: $cinza;
      font-style: italic;
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      a {
        transition: all ease 0.5s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
