@media (max-width: 1200px) {
  header {
    h1 {
      font-size: em(40);
    }
  }
}

@media (max-width: 1024px) {
  article {
    .article {
      &-title {
        font-size: em(40);
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    h1 {
      max-width: 100%;
      font-size: em(30);
    }
  }

  article {
    .article {
      &-title {
        font-size: em(30);
      }
    }
  }

  .share {
    ul {
      width: 25%;
    }
  }

  .articles {
    display: block;
  }

  .article {
    &-carousel {
      &-item {
        width: 100%;
      }
    }
  }

  footer {
    p {
      font-size: em(10);
    }
  }
}
