@media (max-width: 1200px) {
  header {
    h1 {
      font-size: em(40);
    }
  }
  .theme-switcher {
    &-button {
      &-dark,
      .article-show &-dark {
        right: 15%;
      }
    }
  }
}

@media (max-width: 1024px) {
  article {
    .article {
      &-title {
        font-size: em(40);
      }
    }
  }
  .theme-switcher {
    &-button {
      &-dark,
      .article-show &-dark {
        right: 15.6%;
      }
    }
  }
}

@media (max-width: 768px) {
  .theme-switcher {
    &-button {
      &-dark,
      .article-show &-dark {
        right: 17.3%;
      }
    }
  }

  .menu-link {
    display: none;
  }
}

@media (max-width: 575px) {
  header {
    h1 {
      max-width: 100%;
      font-size: em(30);
    }
  }
  article {
    .article {
      &-title {
        font-size: em(30);
        margin-bottom: 2rem;
      }
    }
  }
  .share {
    ul {
      width: 25%;
    }
  }
  .articles {
    display: block;
  }
  .article {
    &-slider {
      margin-left: 2rem;
    }
    &-carousel {
      &-item {
        width: 100%;
      }
    }
  }
  footer {
    p {
      font-size: em(10);
    }
  }
  .theme-switcher {
    &-button {
      &-dark,
      .article-show &-dark {
        right: 20%;
      }
    }
  }
}

@media (max-width: 414px) {
  .theme-switcher {
    margin: 0;
    &-button {
      &-dark,
      .article-show &-dark {
        right: 21.3%;
      }
    }
  }

  .logo svg {
    max-width: 100px;
  }
}
